*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    --primary-color : #f43357;
    --dark-color : #3e3e3e;
    --light-color : #e3e3e3;
    font-family: cursive;
    color : var(--light-color);
    font-style: italic;
}

body{
    background-color: var(--light);
}

main{
    max-width : 1250px;
    width : 85vw;
    margin: 1.75em auto;
    min-height: 65vh;

}

header, footer {
    background-color: var(--primary-color);
    text-align: center;
    min-height: 10vh;
    padding: 0.75em 1em;
}

.heading{
    margin-top: 1em;
    margin-bottom: 1em;
}

.user-input{
    display: block;
    min-height: 20vh;
    width : 100%;
    font-size: 1.25rem;
    color: var(--dark-color)
}

.output-container{
    width: 100%;
    border: 1px solid var(--dark-color);
    min-height: 20vh;
}
.paragraph-output-container{
    margin-bottom: 0.5em;
    color: var(--dark-color);
}
.btn{
    background-color: var(--primary-color);
    font-family: cursive;
    border: none;
    padding: 1em 0.75em;
    margin: 1em 0.5em;
    font-size: 1rem;
}
.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.footer-para{
    max-width : 50%;
    margin: auto;
}

